body {
    color: #333;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  h1, h2 {
    font-family: 'Lato', Helvetica, serif, Verdana;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }
  
  a {
    text-decoration: none;
    color: #FFF;
  }
  
  .a-decoration:hover {
    text-decoration: underline;
  }
  
  .navbar {
    border-radius: 4px;
    z-index: 999;
    height: 34px;
    margin: 20px auto 0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    width: 980px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-between;
    height: inherit;
  }
  
  .list-item {
      border-left: 1px solid #505050;
      padding-top: 8px;
    font-size: 0.85rem;
    border-right: 1px solid grey;
    border-left: 1px solid #505050;
    padding-top: 8px;
    width: 11.111%;
  }
  
  .list-item:first-of-type {
    padding-top: 4px;
    border-left: none;
  }
  
  .list-item:last-of-type {
    padding-top: 6px;
    border-right: none;
  }
  
  .list-item:hover {
    background: url(../img/hover-background.jpg) 0 0 repeat;
    border-radius: 4px;
  }
  
  .apple-icon {
    width: 24px;
    height: 24px;
  }
  
  .input {
    background-color: #6F6F6F;
    width: 70%;
    border-radius: 10px;
  }
  
  .article {
    background: url(img/hero.jpg) 0% 100% no-repeat;
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 550px;
    width: 100%;
    z-index: -1;
  }
  
  .headings {
    color: #FFF;
    margin-top: 170px;
  }
  
  .anchor-heading {
    font-size: 1.4rem;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
  }
  
  .far {
    margin: auto 0;
  }
  
  .promo {
    position: absolute;
    top: 550px;
    width: 100%;
    height: 200px;
  }
  
  .promo-list {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1024px;
    text-align: center;
  }
  
  .promo-list-item {
    width: 25%;
    height: 200px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
  }
  
  .promo-img {
    width: 100%;
  }
  
  .footer {
    position: absolute;
    align-items: baseline;
    color: #6e6e6e;
    font-size: 10px;
    line-height: 1.2;
    top: 750px;
    right: 0;
    left: 0;
    margin: 5px 10px 20px;
    min-width: 900px;
  }
  
  .footer a {
    color: #08c;
  }
  
  .site-map-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 980px;
    height: 28px;
  }
  
  .footer-list {
    align-self: flex-end;
    margin: auto 0;
    padding-bottom: 6px;
  }
  
  .footer-list-item {
    border-left: 1px solid #ccc;
    display: inline-block;
    margin: auto 0 auto .2rem;
    padding-left: .2rem;
  }
  
  .usa-logo {
    width: 16px;
    height: 16px;
  }
  
  .copy-right-section {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin: 0 auto 20px;
    width: 980px;
    height: 28px;
  }
  
  .copy-right-section p {
    margin: auto 0;
  }
  
  .copy-right-a {
    padding: 0 6px;
    margin: auto 0;
  }
  
  .copy-right-a:first-of-type {
    border-right: 1px solid #ccc;
  }
